aliases
{
	mercury = res/png/planets/mercurymap.png
	venus = res/png/planets/venusmap.png
	earth = res/png/planets/earthmap.png
	mars = res/png/planets/mars.png
	jupiter = res/png/planets/jupitermap.png
	saturn = res/png/planets/saturnmap.png
	uranus = res/png/planets/uranusmap.png
	neptune = res/png/planets/neptunemap.png
	pluto = res/png/planets/plutomap.png	
	sun = res/png/planets/sunmap.png
	saturnring = res/png/planets/saturnringcolor.png
	uranusring = res/png/planets/uranusringcolour.png
	earthbump = res/png/planets/earthbump.png
	earthcloudmap = res/png/planets/earthcloudmap.png
	earthlights = res/png/planets/earthlights.png
	spaceskyboxBK = res/png/skybox/spaceskyboxBK.png
	spaceskyboxDN = res/png/skybox/spaceskyboxDN.png
	spaceskyboxFT = res/png/skybox/spaceskyboxFT.png
	spaceskyboxLF = res/png/skybox/spaceskyboxLF.png
	spaceskyboxRT = res/png/skybox/spaceskyboxRT.png
	spaceskyboxUP = res/png/skybox/spaceskyboxUP.png
	zealotD = res/png/zealot/mand_D.png

    gamepad = res/png/gamepad.png    
}

gamepads
{
    form = res/common/gamepad.form
}